*, 
*::before,
*::after {
	padding: 0;
	margin: 0;	
	box-sizing: border-box;
}

body {
	background-color: #F5F7FA;
	width: 100%;
	height: auto;
}

/*Navigation Header*/
.nav__header {
	position: fixed;
	display: flex;
	justify-content: space-between;
	background-color: #FFFFFF;
	width: 100%;
	height: 9vh;
}

.nav__logo {
	width: 12rem;
	height: auto;
	shape-rendering: crispEdges;
}

/*Navigation Search Bar*/
.nav__search-bar {
	position: relative;
	width: 250px;
	height: 1.4rem;
}

.search-bar__input-text {
	width: 100%;
	padding: 3.5px 5px 3.5px 40px;
	font-size: 1rem;
}	

.search-bar__icon {
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 1.4rem !important;
	color: black;
}

/*Container for User Activity & User Profile*/
.container__activity-profile {
	display: flex;
	justify-content: space-around;
	width: 500px;
}	

/*User Activity*/
.user-activity__div {
	display: flex;
	justify-content: space-between;
	width: 85px;
	height: 32px;
}

.activity__div {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
}

.activity__icon {
	color: black; 
	font-size: 1.7rem !important;
}

/*User Profile*/
.nav__profile {
	display: flex;
}

.profile__image {
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
}

/*Navigation Sidebar*/
.nav__sidebar {
	background-color: #FFFFFF;
	width: 250px;
	height: 100vh;
	position: fixed;
	top: 4.1rem;
}
