/* =====================================================
   CONTENT INDEX
   =====================================================

   1. CSS Reset / Normalize
   2. Root Variables (Colors, Fonts, Spacing)
   3. Base Styles (HTML, Body, Typography)
   4. Layout, Components & Page Variants
		4.1 Global Layout (Header, Sidebar, Body-content)
		4.2 Home Page Stylings
		4.3 Recipe Page Stylings

   ===================================================== */


/* =====================================================
   1. CSS RESET / NORMALIZE
   ===================================================== */

*, 
*::before,
*::after {
	padding: 0;
	margin: 0;	
	box-sizing: border-box;
}


/* =====================================================
   2. ROOT VARIABLES
   ===================================================== */

:root {
	/*Font Stylings*/
	--font-header: Inter, Helvetica, sans-serif; /*Would also be used for links*/
	--font-body: "Roboto", sans-serif;

	/*Color System*/
	--black-shade: rgba(0, 0, 0, 0.4); 	     /*Used for background images*/
	--accent-color: rgba(52, 41, 31, 1);		 /*For logo and buttons (important components)*/
}


/* =====================================================
   3. BASE STYLES
   ===================================================== */
   
body {
	/*All text content in the homepage is set to Inter*/
	font-family: var(--font-header);
	background-color: #F5F7FA;
	width: 100%;
	height: auto;
}


/* =====================================================
   4. LAYOUT, COMPONENTS & PAGE VARIANTS
   ===================================================== */

/* 4.1 Global Layout (Header, Sidebar, Body-content)
   ----------------------------------------------------- */

/*Homepage Container*/
.homepage__div {
	display: grid;
	grid-template-columns: repeat(6, 1fr); 
	grid-template-rows: repeat(8, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	max-height: 100vh;
	overflow-y: auto;
}

/*Navigation Header*/
.nav__header {
	grid-area: 1 / 1 / 2 / 8;
	position: fixed;
	display: flex;
	justify-content: space-between;
	background-color: #FFFFFF;
	width: 100%;
	height: 9vh;
}

.nav__logo {
	position: relative;
	top: 0.65rem;
	left: 1.5rem;
	width: 13rem;
	height: auto;
	shape-rendering: crispEdges;
}

/*Navigation Search Bar*/
.nav__search-bar {
	position: relative;
	top: 1rem;	
	width: 400px;
	height: 2rem;
}

.search-bar__input-text {
	width: 100%;
	height: 100%;
	padding: 3.5px 5px 3.5px 40px;
	font-size: 1rem;
	border-radius: 0.85rem;
	border: 0.5px solid black;
}	

.search-bar__icon {
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 1.4rem !important;
	color: black;
}

/*Container for User Activity & User Profile*/
.container__activity-profile {
	margin-right: 2.5rem;
	display: flex;
	justify-content: space-around;
	width: 280px;
	align-items: center;
}

/*User Activity*/
.user-activity__div {
	display: flex;
	justify-content: space-between;
	width: 80px;
	height: 32px;
	margin-right: auto;
}

.activity__div {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
}

.activity__icon {
	color: #6f7173; 
	font-size: 1.7rem !important;
	border: 2px solid rgba(162, 165, 168, 0.1);
	border-radius: 50%;
	padding: 0.35rem;
}

/*User Profile*/
.nav__profile {
	width: 170px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.profile__image {
	width: 2.7rem;
	height: 2.7rem;
	border-radius: 50%;
}

.profile__name {
	margin-left: 0.7rem;
	margin-right: auto;
}

/*Navigation Sidebar*/
.nav__sidebar {
	grid-area: 2 / 1 / 9 / 2;
	background-color: #FFFFFF;
	width: 250px;
	height: 100vh;
	position: fixed;
	top: 3.5rem;
	padding-top: 2.5rem;
}

.sidebar__container {
	display: flex;
	width: 86%;
	height: 3.25rem;
	padding: 0.2rem;
	margin-bottom: 0.8rem;
	margin-left: 1.1rem;
	padding-left: 1.3rem; 
	align-items: center;
	border-radius: 3px;
}

.sidebar__icon {
	font-size: 1.8rem !important;
}

.sidebar__anchor {
	text-decoration: none;
	color: black;
	display: block;
	font-size: 1.1rem;
	font-family: var(--font-header);
	padding-left: 0.8rem;
}

.sidebar__icon--large {
	font-size: 1.95rem !important;
}

/*Body Content Container*/
.body__content {
	position: relative;
	bottom: 0.5rem;
	width: 82vw;
	max-height: 100vh;
	overflow-y: auto;
	grid-area: 2 / 2 / 9 / 7;
	padding: 1rem 0 1rem 2.5rem;
}

/*Remove scrollbar display*/
.body__content::-webkit-scrollbar { display: none; }


/* 4.2 Home Page Stylings
   ----------------------------------------------------- */

/*Hero Section*/
.hero__container {
	background-image:
		linear-gradient(0.25turn, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.01)), 
		url('./images/homepage-body/hero-section-bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	max-width: 100%;
	height: 38vh;
	border-radius: 20px;
	align-content: center;
}

.hero__text {
	position: relative;
	left: 2.5rem;
	bottom: 1rem;
	color: white;
	font-weight: 300;
	font-size: 2.125rem;
	line-height: 1.25;
	letter-spacing: 1px;
}

.hero__button {
	display: flex;
	align-items: center;
	width: 130px;
	justify-content: space-between;
	position: relative;
	top: 1.5rem;
	left: 2.5rem;
	padding: 4.5px 5px;
	border: 1px solid white;
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.25);
	backdrop-filter: blur(10px);
}

.button__text {
	font-size: 1rem;
	color: white;
	padding-left: 12.5px;
}

.button__icon {
	font-size: 1.3rem !important;
	font-weight: 600 !important;
	background-color: white;
	color: black;
	border-radius: 50%;
	padding: 5px;
}

/*Categories Section*/
.section__categories {
	padding: 1px;
	margin-top: 1.3rem;
}

.categories__header {
	font-size: 1.3rem;
	font-weight: 700;
	padding-bottom: 0.7rem;
}

.category-card__container {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.category__card {
	background-size: cover;
	border: none;
	border-radius: 14px;
	width: 200px;
	height: 70px;
}

.category__text {
	font-size: 1.1rem;
	font-weight: 100;
	color: rgba(255, 255, 255, 0.8);
}

/*Category Card per Dish*/
.category__card--soup {
	background-image:
		linear-gradient(var(--black-shade), var(--black-shade)),
		url('./images/category/category-soup.png');
}

.category__card--meal {
	background-image:
		linear-gradient(var(--black-shade), var(--black-shade)),
		url('./images/category/category-meal.webp');
}

.category__card--dessert {
	background-image:
		linear-gradient(var(--black-shade), var(--black-shade)),
		url('./images/category/category-dessert.jpeg');
}

.category__card--cuisine {
	background-image:
		linear-gradient(var(--black-shade), var(--black-shade)),
		url('./images/category/category-cuisine.webp');
}

.category__card--snacks {
	background-image:
		linear-gradient(var(--black-shade), var(--black-shade)),
		url('./images/category/category-snacks.jpg');
}

.category__card--beverages {
	background-image:
		linear-gradient(var(--black-shade), var(--black-shade)),
		url('./images/category/category-beverages.jpg');
}

/*Recommendation Section*/
.section__recommendation {
	padding-top: 1.3rem;
}

.recommendation__container {
	display: flex;
	justify-content: space-around;
	width: 100%;
	height: auto;
	flex-wrap: wrap;
}

.recommendation__header {
	font-size: 1.3rem;
}

.recommendation__dish {
	display: block;
	width: 95%;
	height: 160px;
	object-fit: cover;
	border-radius: 10px;
	margin: 10px auto 8px;
}

/*Dish Container (Card)*/
.dish__anchor {
	text-decoration: none;
	color: black;
}

.dish__container {
	width: 390px;
	background-color: #FFFFFF;
	border-radius: 14px;
	padding: 1px;
	margin-bottom: 1.4rem;
}

/*Dish Description*/
.dish__description {
	margin-left: 0.7rem;
	margin-bottom: 0.5rem;
}

.dish__author {
	font-size: 0.8rem;
	font-weight: 580;
	letter-spacing: 0.2px;
	color: rgba(100, 100, 100, 0.9);
}

.dish__name {
	letter-spacing: -0.1px;
	margin: 2px 0 7.5px;
}

/*Dish Ratings*/
.dish__rating {
	display: flex;
	align-items: center;
}

.rating__icon { padding-right: 3px; }

.checked { color: rgb(205, 127, 50); }

.rating__scale {
	font-size: 0.95rem;
	font-weight: 550;
	margin-left: 2px;
	color: rgb(130, 130, 130);
}


/*Dish Tags*/
.dish__tags-container {
	display: flex;
	margin-top: 0.6rem;
	margin-bottom: 1rem;
}

.dish__tag {
	display: flex;
	background-color: rgba(120, 70, 30, 0.3);
	padding: 3.2px 7px;
	margin-right: 7px;
	align-items: center;
	border-radius: 15px;
}

.dish-tag__text {
	font-size: 0.8rem;
	font-weight: 560;
	color: rgb(61, 38, 14);
	padding-left: 5px;
}

.dish-tag__icon {
	font-size: 0.95rem !important;
	font-weight: 560 !important;
	color: rgb(61, 38, 14);
}


/* 4.3 Recipe Page Stylings
   ----------------------------------------------------- */

/*Body Content (Separated from Homepage)*/
.body-content__recipe-page {
	font-family: var(--font-body);
	position: relative;
	bottom: 0.5rem;
	width: 82vw;
	max-height: 100vh;
	overflow-y: auto;
	grid-area: 2 / 2 / 9 / 7;
	padding: 1rem 0 1rem 2.5rem;
}

.body-content__recipe-page::-webkit-scrollbar {
	display: none;
}

/*Title (Dish Name)*/
.recipe-dish__title {
	margin-bottom: 0.7rem;
	font-size: 2rem;
	font-weight: 550;
}

/*Dish Main Image*/
.recipe-dish__image {
	width: 60.1rem;
	height: 24rem;
	object-fit: cover;
	border-radius: 15px;
}

/*Details (Author & Tags) */
.recipe-dish__author-date {
	margin: 0.1rem 0 0.2rem;
	font-size: 0.85rem;
	color: grey;
}

/*Dish Summary (Chef's Note*/
.recipe-dish__summary {
	width: 60rem;
	border-left: 0.25rem solid rgb(34, 34, 34);
	padding-left: 0.75rem;
	border-radius: 4px;
	font-size: 0.9rem;
	text-align: justify;
	margin: 1rem 0 1rem;
}

/*Ingredients*/
.ingredients__header,
.instructions__header {
	font-size: 1.5rem;
	font-weight: 500;
	margin-bottom: 0.25rem;
}

.recipe-dish__ingredients { margin-left: 2rem; }
.recipe-dish__ingredient { 
	margin-bottom: 0.3rem; 
	font-size: 1rem;
}

/*Instructions*/
.recipe-dish__instructions-container { width: 60.1rem; }
.instructions__header { margin-top: 1.2rem; }

.recipe-dish__instructions { margin-left: 2rem; }
.recipe-dish__instruction { 
	margin-bottom: 0.05rem; 
	font-size: 1rem;
	font-weight: 500;
}

.recipe-dish__instruction:first-child { margin-top: 0.4rem; }
.recipe-dish__instruction:not(:first-child) { margin-top: 0.7rem; }

.recipe-dish__instruction-descriptions { margin-left: 2rem; }
.recipe-dish__instruction-description { 
	line-height: 1.3rem; 
	font-size: 0.9em;
}

.recipe-dish__instruction-ingredients { margin-left: 2rem; }
.recipe-dish__instruction-ingredient { font-size: 0.870rem; }

/*Divider*/
.section__divider { 
	margin: 1.5rem 0; 
	width: 60.1rem;
}
.comment-section__divider { margin: 1rem 0; }


/*Comment Section*/

/*General*/
.comment__section { width: 60.1rem; }

.comment__avatar {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit: cover;
}

/*User*/
.comment__section-user { display: flex; }
.comment__author { margin-left: 1rem; }
.comment__input {
	font-family: var(--font-body);
	border: 1.5px solid rgb(181, 181, 181);
	border-radius: 8px;
	flex: 1 1 auto;
	resize: none;
	margin-left: 0.6rem;
	padding: 0.4rem 0.5rem;
}

.comment-buttons__container {
	background-color: transparent;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 4rem;
	height: 2rem;
}

.button__submit {
	background-color: var(--accent-color);
	color: white;
}

.button__cancel {
	background-color: #6f7173;
	color: rgb(188, 188, 188);
}

/*Others*/
