:root {
	--font-header: Inter, Helvetica, sans-serif; /*Would also be used for links*/
	--font-body: "Roboto", sans-serif;
}

*, 
*::before,
*::after {
	padding: 0;
	margin: 0;	
	box-sizing: border-box;
}

body {
	background-color: #F5F7FA;
	width: 100%;
	height: auto;
}

/*Homepage Container*/
.homepage__div {
	display: grid;
	grid-template-columns: repeat(6, 1fr); 
	grid-template-rows: repeat(8, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	max-height: 100vh;
	overflow-y: auto;
}

/*Navigation Header*/
.nav__header {
	grid-area: 1 / 1 / 2 / 8;
	position: fixed;
	display: flex;
	justify-content: space-between;
	background-color: #FFFFFF;
	width: 100%;
	height: 9vh;
}

.nav__logo {
	position: relative;
	top: 0.65rem;
	left: 1.5rem;
	width: 13rem;
	height: auto;
	shape-rendering: crispEdges;
}

/*Navigation Search Bar*/
.nav__search-bar {
	position: relative;
	top: 1rem;	
	width: 400px;
	height: 2rem;
}

.search-bar__input-text {
	width: 100%;
	height: 100%;
	padding: 3.5px 5px 3.5px 40px;
	font-size: 1rem;
	border-radius: 0.85rem;
	border: 0.5px solid black;
}	

.search-bar__icon {
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 1.4rem !important;
	color: black;
}

/*Container for User Activity & User Profile*/
.container__activity-profile {
	margin-right: 2.5rem;
	display: flex;
	justify-content: space-around;
	width: 280px;
	align-items: center;
}

/*User Activity*/
.user-activity__div {
	display: flex;
	justify-content: space-between;
	width: 80px;
	height: 32px;
	margin-right: auto;
}

.activity__div {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
}

.activity__icon {
	color: #6f7173; 
	font-size: 1.7rem !important;
	border: 2px solid rgba(162, 165, 168, 0.1);
	border-radius: 50%;
	padding: 0.35rem;
}

/*User Profile*/
.nav__profile {
	width: 170px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.profile__image {
	width: 2.7rem;
	height: 2.7rem;
	border-radius: 50%;
}

.profile__name {
	margin-left: 0.7rem;
	margin-right: auto;
}

/*Navigation Sidebar*/
.nav__sidebar {
	grid-area: 2 / 1 / 9 / 2;
	background-color: #FFFFFF;
	width: 250px;
	height: 100vh;
	position: fixed;
	top: 3.5rem;
	padding-top: 2.5rem;
}

.sidebar__container {
	display: flex;
	width: 160px;
	padding: 0.2rem;
	margin-bottom: 2rem;
	margin-left: 1.5rem; 
	align-items: center;
}

.sidebar__icon {
	font-size: 1.8rem !important;
}

.sidebar__anchor {
	text-decoration: none;
	color: black;
	display: block;
	font-size: 1.1rem;
	font-family: var(--font-header);
	padding-left: 0.8rem;
}

.sidebar__icon--large {
	font-size: 1.95rem !important;
}

/*Body Content Container*/
.body__content {
	position: relative;
	bottom: 0.5rem;
	width: 80vw;
	max-height: 100vh;
	overflow-y: auto;
	grid-area: 2 / 2 / 9 / 7;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(12, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	padding-left: 1rem;  
}

/*Hero Section*/
.hero__container {
	grid-area: 1 / 1 / 6 / 6;
	background-image:
		linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
		url('./images/homepage-body/hero-section-bg.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	max-width: 700px;
	height: 400px;
}

/*Categories Section*/
.section__categories {
	grid-area: 6 / 1 / 9 / 6;
}

/*Recommendation Section*/
.section__recommendation {
	grid-area: 9 / 1 / 13 / 6;
}
