*, 
*::before,
*::after {
	padding: 0;
	margin: 0;	
	box-sizing: border-box;
}

body {
	background-color: #F5F7FA;
	width: 100%;
	height: auto;
}

/*Navigation Header*/
.nav__header {
	display: flex;
	justify-content: space-between;
	background-color: #FFFFFF;
	width: 100%;
	height: 9vh;
}

.nav__logo {
	width: 12rem;
	height: auto;
	shape-rendering: crispEdges;
}

.nav__search-bar {
	width: 12rem;
	height: 1.3rem;
}	

.nav__search-icon {
	font-size: 1.4rem !important;
	color: black;
}


/*User Activity*/
.activity__div {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
}

.activity__icon {
	color: black;
	padding: auto;
}


/*User Profile*/
.nav__profile {
	display: flex;
}

.profile__image {
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
}
